.App {
  font-family: sans-serif;
  text-align: center;
}
button {
  margin: 5px;
  margin-top: 5%;
}
h1 {
  margin: 5px;
  margin-top: 5%;
}
h2 {
  margin: 5px;
  margin-top: 5%;
}
h3 {
  margin: 5px;
  margin-top: 5%;
}
image {
  margin: 5px;
  margin-top: 5%;
}
